<html>
<head>
<title>Population</title>
</head>
<body style="background-color: rgba(17, 37, 8, 0.281);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Population 
    <form action="/population" method ="POST">
        <img src="static\Start.jpg">
        <br>
        <br><br><br><br>
        <label>Yearly change</label><input type="text" name ="Yearly change"><br><br>
        <label>Net change</label><input type="text" name ="Net change"><br><br>
        <label>Density (P/Km²)</label><input type="text" name ="Density (P/Km²)"><br><br>
        <label>Migrants (net)</label><input type="text" name ="Migrants (net)"><br><br>
        <label>Fert. Rate</label><input type="text" name ="Fert. Rate"><br><br>
        <label>Med.Age</label><input type="text" name ="Med.Age"><br><br>
        <label>Urban Pop %</label><input type="text" name ="Urban Pop %"><br><br>
        <label>World Share</label><input type="text" name ="World Share"><br><br>
        <label>country</label><input type="text" name ="country"><br><br>
         

        <input type="submit">
        <br><br>
        
    </form>
    
</body>
</html>